@model List<CourseModel>
@{
    ViewData["Title"] = "Taken Courses";
}

@section Scripts
{
    <script src="~/js/employee/courses-emp.js" asp-append-version="true"></script>
}

<div class="row ps-3 pt-3 pe-3 gx-4 gy-4">
    @foreach (CourseModel course in Model)
    {
        <div class="col-lg-3 col-auto">
            <div class="card d-flex flex-column h-100">
                <img src="@course.CourseImage" class="card-img-top" style="height: 300px" alt="Course Image">
                <div class="card-body">
                    <h5 class="card-title">@course.CourseName</h5>
                    <p class="card-text">@course.CourseDescription</p>
                </div>
                <button type="button" class="ViewCourseButton btn btn-lg btn-primary mt-auto mb-3 ms-3 me-3" data-course-name="@course.CourseName" data-course-url="@course.CourseUrl">
                    View Course
                </button>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="ViewCourseModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content text-white bg-dark">
            <div class="modal-header">
                <p class="modal-title" id="ViewCourseModalLabel">Subject</p>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <embed id="ViewCourseEmbed" src="" width="100%" height="600px"/>
            </div>
        </div>
    </div>
</div>